.latest-news-article {
  display: flex;
  align-items: center;
  width: 80vw;
  gap: 3.8vw;
  margin-top: 5rem;

  & img {
    width: 35vw;
    height: 23vw;
  }

  .latest-news-info {
    width: 37%;

    > p:nth-child(1) {
      color: var(--red);
      font-weight: 500;
    }

    .latest-news-introduction {
      margin-top: 2rem;
    }

    .latest-news-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 1.5rem;
    }
  }
}