.badge-text, .badge-triangle {
  position: fixed;
}

.badge-triangle {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #FFBD00;
  transform: rotate(270deg);
}

.badge-text {
  top: 0;
  right: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}