.main-header {
  display: flex;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  
  .logo-container {
    background-color: var(--green);
    padding: 0 1.5vh;
    width: fit-content;

    & img {
      padding: 4px;
      width: 12vh;
    }
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    width: 100%;

      & h1 {
        margin: 0;
        color: white;
        font-size: 5vh;
        letter-spacing: 1.6px;
        
        &:hover {
          text-decoration: underline var(--green);
        }
      }
  }
}

@media screen and (max-width: 490px) {
  .main-header {
    .logo-container > img {
      width: 20vw !important;
    }
  
    .title-container > a > h1 {
      font-size: 10vw;
    }
  }
}