.main-footer {
  margin-top: 2rem;
  background-color: var(--header-color);
  color: white;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  padding-top: 1rem;

  > p {
    height: fit-content;
    width: 20vw;

    > span {
      font-weight: 500;
    }
  }

  .footer-logo-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-image-container {
      background-color: var(--green);
      width: fit-content;
  
      & img {
        padding: 4px;
        width: 6vh;
      }
    }

    & p {
      margin-top: 0.75rem;
      font-size: 1.07rem;
      font-weight: 500;
    }
  }

  & ul {
    list-style: none;
    width: 20vw;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0;

    & li, a {
      height: fit-content;
      width: fit-content;

      & :hover {
        & path {
          fill: var(--green);
        }
      }

      & svg {
        width: 26px;
        height: 26px;
        
        & path {
          fill: white;
          transition: 0.3s;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1088px) {
  .main-footer {
    justify-content: space-around;

    > p {
      text-wrap: nowrap;
      font-size: 1.15vh;
      margin-top: 1.25rem;
    }

    & ul {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 799px) {
  .main-footer {
    height: 35vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
      width: 80%;
      text-align: center;
    }

    .footer-logo-container {
      width: 80%;

      .footer-image-container {
        margin-top: 1rem;
      }
    }

    & ul {
      justify-content: center;
      width: 80%;
    }
  }
}