.news-article {
  background-color: white;
  width: calc(33.33% - 1rem);
  min-height: 35vh;
  
  .news-content-container {
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
    height: 85%;

    .news-content {
      height: 65%;
    }

    .news-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .fav-news-btn-container {
    margin-top: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
  }
}