.news-section {
  margin-top: 8rem;
  width: 80vw;

  .news-filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: white;

    .filters-container {
      display: flex;
      gap: 1rem;
      
      .selected-filter {
        border-bottom: 1px solid var(--red);
      }
    }

    & button {
      border: none;
      background: none;
      font-weight: 500;
    }
  }

  .news-article-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 1.5rem;

    .no-fav-news-message {
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}