.news-section {
  margin-top: 8rem;
  width: 80vw;

  .news-filters-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: white;

    .filters-container {
      display: flex;
      gap: 1rem;
      
      .selected-filter {
        border-bottom: 1px solid var(--red);
      }
    }

    & button {
      border: none;
      background: none;
      font-weight: 500;
    }
  }

  .news-article-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 1.5rem;

    
    .no-fav-news-message {
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
  
  .column-layout {
    flex-direction: column;

    .news-article {
      width: 100%;
      min-height: 26vh;
      padding-bottom: 0.5rem;
    }
  }

  .button-load-more-news-container {
    width: 100%;
    display: flex;
    justify-content: center
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .news-section {
    margin-top: 4rem;
  }

  .news-article-container {
    flex-direction: column;

    .news-article {
      width: 100%;
      min-height: 26vh;
      padding-bottom: 0.5rem;
    }
  }

  .column-layout {
    flex-direction: row !important; 

    .news-article {
      width: calc(33.33% - 1rem) !important;
      padding-bottom: 0.5rem;
      font-size: 0.825rem;
      padding-bottom: 0 !important;

      .news-footer {
        flex-direction: column;
 
        & p {
          margin-top: 1.5rem;
        }
 
        & button {
          margin-bottom: 1rem;
        }
      }
     }

    }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .news-section {
    margin-top: 4rem;

    .news-filters-container {
      display: flex;
      flex-direction: column !important;
      font-size: 1.15rem;

      > button:last-child {
        display: none;
      }
    }

    .news-article-container {
      flex-direction: column;
  
      .news-article {
        width: 100%;
        min-height: 26vh;
        padding-bottom: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .news-section {
    margin-top: 4rem;

    .news-filters-container {
      justify-content: center;

      .filters-container {
        gap: 1.15rem;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.15rem;
      }

      > button:last-child {
        display: none;
      }
    }

    .news-article-container {
      flex-direction: column;
  
      .news-article {
        width: 100%;
        min-height: 26vh;
        padding-bottom: 0.5rem;

        .news-content-container {
          display: block;
          padding-bottom: 1rem;

          .news-footer {
            flex-direction: column;
            margin-top: 1.5rem;

            & p {
              position: absolute;
              left: 10%;
              margin-left: 1rem;
              margin-top: 4.25rem;
              font-size: 0.925rem;
            }
          }
        }

      }
    }
  }
}